
.footer{
    width: 100vw;
    height: 30vh;
    background-color: pink;
     display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}
.fcont{
    width: 70%;
    height: 80%;
     display: flex;
    justify-content: center;
    gap:5vw ;

}

.links h1{
    font-size: 1.5vw;
    font-weight: 200;
    
}
.links h4,h3{
    font-size: 1vw;
    color: gray;
    font-weight: 200;
}
.links button{
    padding: 0.5vw 3vw;
    margin-top: 1vw;
    font-size: 1vw;
    
}
.links h3{
    margin-top: 1vw;
}
.sm{
    margin-top: 1vw;
    font-size: 2vw;
    display: flex;
    gap: 1vw;
}
